on:
  check_suite:
    type: ['completed']

jobs:
  download_cirrus_artifact:
    name: Download Cirrus CI MacOS ARM64 artifacts
    if: github.event.check_suite.app.name == 'Cirrus CI' && github.event.check_suite.app.name == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: test123
        run: |
          echo ${{ github.event.check_suite.conclusion }}
          echo ${{ github.event.check_suite.total_count }}
          echo ${{ github.event.check_suite.id }}
          echo ${{ github.event.check_suite.app }}
          echo ${{ github.event.check_suite.app.id }}
          echo ${{ github.event.check_suite.app.node_id }}

      - name: Download Cirrus artifacts
        run: curl -Lsf https://api.cirrus-ci.com/v1/artifact/task/6265245508304896/upload/macosx_arm64.tar.gz -o macosx_arm64.tar.gz

      - uses: actions/upload-artifact@v3
        with:
          name: deps
          path: macosx_arm64.tar.gz

  upload_artifacts:
    name: Attach artifacts to release
    runs-on: ubuntu-latest
    needs: [download_cirrus_artifact]
    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: deps
          path: output

      - name: Attach artifacts to GitHub release
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'output/*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

# gh api -H "Accept: application/vnd.github+json" /repos/nlesc-nano/nano-qmflows-manylinux/check-suites/CHECK_SUITE_ID